@{
    ViewData["Title"] = "Personal Profile";
}

<div class="text-center">
    <h1 class="display-4">Danyal Saleh</h1>
    <h2><span class="cornsilk-bold">Computer Scientist</span> <span class="darkmoss-bold">||</span> <span class="cornsilk-bold">Game Developer</span> <span class="darkmoss-bold">||</span> <span class="cornsilk-bold">Software Engineer</span></h2>
    <p>A driven and committed individual in the field of computer science.
        Having spent most of my life travelling, I have come to be a very open-minded and approachable person being through a multitude of varying cultures and experiences. 
        Due to this oppertunity, I believe in projects that will positively impact the world through aiding individuals or communities, utilizing and honing critical thinking and detail-oriented developmental skills.</p>
</div>
