@model IEnumerable<PersonalProfileUI.Models.DTOs.AuthDTO>

@{
}

<h1 class="mt-3">Login</h1>

@*<div class="d-felx justify-content-end">
	<a class="btn btn-secondary" asp-controller="Education" asp-action="Add">Add Education</a>
</div>*@


